body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 70px 0;
    text-align: left;
    color: royalblue;
    padding-bottom: 1em;
    border-bottom: royalblue 3px solid;
}

.address_label {
    color: #555;
    float: left;
    width: 105px;
    text-align: right;
}


.addres {
    position: absolute;
    top: 7px;
    right: 300px;
    width: 50px;
}

.address {
    float: left;
    width: 50%;
}

.address_content {
    margin-left: 115px;
    border-left: 1px solid #000;
    padding-left: 10px;
}


table {
    border-collapse: collapse;
}

td,
th {
    border: #000 solid 2px;
}